<main>
  <section>
    <div class="videoCont">
      {{#if searchKey}}
        {{#if (isGreaterThan count 0) }}
          <p>Search results for <i>"{{searchKey}}"</i></p>
          {{#each searchResults}}
            {{> videoLinkCard this}}
          {{/each}}
      
          {{#if (isGreaterThan count 2)}}
              {{!-- Do nothing --}}
            {{else}}
              <p class="suggestionText">
                Here are other popular video.
            </p>
            {{#each results}}
              {{> videoLinkCard this}}
            {{/each}}
          {{/if}}
        {{else}}
          {{#if (isEqualToZero count)}}
            <p id="noResult">
              Oops! No videos found for the "{{searchKey}}"
            </p>
            <p class="suggestionText">
              Here are some of our most popular video.
            </p>
            {{#each results}}
              {{> videoLinkCard this}}
            {{/each}}
          {{/if}}
        {{/if}}
      {{else}}
           {{#each results}}
              {{> videoLinkCard this}}
            {{/each}}
      {{/if}}
      

      
       

     

      {{! <div id="counterDiv">
        <!-- Here goes the Photo Counter -->
      </div> }}

      {{!  <section class="main-page" id="photo-display">
        <!-- <p>[Main Page Content will go in this section.]</p> -->
      </section> }}
    </div>
  </section>
</main>

