<main class="videoPage">
  <section class="videoSection">
    <div class="videoSide">

      <div class="video">
        <video controls>
          <source src="/{{post.video}}" type="video/mp4" />
        </video>
      </div>

      {{! Title }}
      <p class="videoTitle">
        {{post.title}}
      </p>
      {{log this}}
      {{! User and other info.  }}
      <div class="videoPageMeta">
        <a href="/users/profile/{{post.userId}}"><img
            class="navProfileImg"
            src="https://api.multiavatar.com/{{post.username}}.png"
            alt=""
          /></a>

        <div class="authAndCreation">
          <p class="videoAuthor">
            {{post.username}}
          </p>
          <p class="videoCreationTime">
            {{formatDateString post.createdAt}}
          </p>
        </div>
      </div>

      {{! Description of the Video }}
      <div class="videoDescription">
        <p class="fw-bold">Description</p>
        <p>{{post.description}}</p>
      </div>

      {{! Comments }}
      <div class="commentSide">
        <p class="fw-bold">
          Comments
        </p>

        {{! Form to add comment. }}
        <div class="newComment">
          {{#if isLoggedIn}}
            <a href="/users/profile/{{user.userId}}"><img
                class="navProfileImg"
                src="https://api.multiavatar.com/{{user.username}}.png"
                alt=""
              /></a>
          {{/if}}
          <input id="commentInput" type="text" placeholder="Add Comment" />
          <button id="commentButton" data-postid="{{post.id}}">Comment</button>
        </div>

        <div id="comments">
          {{#each post.comments}}
            <div class="commentMeta" id="message-{{id}}">
              <a href="/users/profile/{{userId}}"><img
                  class="navProfileImg"
                  src="https://api.multiavatar.com/{{username}}.png"
                  alt=""
                /></a>
              <div class="usernameAndComment">
                <p class="commentUsername">@{{username}}
                  <span>{{formatDateString createdAt}}</span></p>
                <p class="comment">{{text}}</p>
              </div>
            </div>
          {{/each}}
          <div id="commentsList">
            {{! Empty div to change the inner html. }}
          </div>
        </div>

      </div>
    </div>

    <div class="suggestionSide">
      {{#each results}}
        <div class="videoLinkCard">
          <div class="videoCard" id={{id}}>
            <a href="/posts/{{id}}"><img src="/{{thumbnail}}" alt={{id}} /></a>
            <div class="videoMeta">
              {{! Image }}
              <a href="/users/profile/{{userId}}"><img
                  class="navProfileImg"
                  src="https://api.multiavatar.com/{{username}}.png"
                  alt=""
                /></a>
              <div>
                {{! Title }}
                <a href="/posts/{{id}}"><p class="videoTitle">{{title}}</p></a>
                {{! Username }}
                <a href="/users/profile/{{userId}}"><p
                    class="videoUsername"
                  >{{username}}</p></a>
                {{! These should be in column but it should be in row with the above img. }}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

  </section>
  <br />

</main>